name: CI
on: [push, pull_request]
jobs:
  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v6

    - name: Get PowerShell module path
      id: psmodulepath
      shell: pwsh
      run: |
        $path = ($env:PSModulePath -split [IO.Path]::PathSeparator |
          Where-Object { $_ -like "*$env:HOME*" -or $_ -like "*$env:USERPROFILE*" } |
          Select-Object -First 1)
        "path=$path" >> $env:GITHUB_OUTPUT

    - name: Cache PowerShell modules
      uses: actions/cache@v5
      with:
        path: ${{ steps.psmodulepath.outputs.path }}
        key: ${{ runner.os }}-psmodules-${{ hashFiles('build.depend.psd1') }}

    - name: Test
      shell: pwsh
      run: |
        New-Item -ItemType Directory -Path out -Force | Out-Null
        ./build.ps1 -Task Test -Bootstrap

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      if: success()
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: out/codeCoverage.xml
        flags: ${{ matrix.os }}
        fail_ci_if_error: false

    - name: Upload test results
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: test-results-${{ matrix.os }}
        path: out/
        retention-days: 30
